In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')

In [2]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [6]:
age_median = df['Age'].median()
df['Age'] = df['Age'].fillna(age_median)

In [7]:
from scipy.stats import mode

In [12]:
mode_embarked = mode(df['Embarked'].dropna())[0][0]
df['Embarked'] = df['Embarked'].fillna(mode_embarked)

C:\Users\darthjarjar\Anaconda3\lib\site-packages\scipy\stats\stats.py:250: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [14]:
df['Gender'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)
df['Port'] = df['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)

df = df.drop(['Sex', 'Embarked'], axis=1)

cols = df.columns.tolist()
cols = [cols[1]] + cols[:1] + cols[2:]
df = df[cols]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived       891 non-null int64
PassengerId    891 non-null int64
Pclass         891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Gender         891 non-null int32
Port           891 non-null int32
dtypes: float64(2), int32(2), int64(5)
memory usage: 55.8 KB

In [16]:
train_data = df.values

In [17]:
df_test = pd.read_csv('test.csv')

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [19]:
df_test = df_test.drop(['Name','Ticket','Cabin'],axis=1)

In [20]:
df_test['Age'] = df_test['Age'].fillna(age_median)

In [22]:
fare_means = df.pivot_table('Fare', index='Pclass', aggfunc='mean')

In [23]:
fare_means

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [24]:
df_test['Fare'] = df_test[['Fare', 'Pclass']].apply(lambda x: fare_means[x['Pclass']] if pd.isnull(x['Fare']) else x['Fare'], axis=1)

In [25]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)
model = model.fit(train_data[0:,2:],train_data[0:,0])

In [26]:
df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)
df_test['Port'] = df_test['Embarked'].map({'C':1, 'S':2, 'Q':3})

df_test = df_test.drop(['Sex', 'Embarked'], axis=1)

test_data = df_test.values

output = model.predict(test_data[:,1:])

In [27]:
df_test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  Gender  Port
0            892       3  34.5      0      0    7.8292       1     3
1            893       3  47.0      1      0    7.0000       0     2
2            894       2  62.0      0      0    9.6875       1     3
3            895       3  27.0      0      0    8.6625       1     2
4            896       3  22.0      1      1   12.2875       0     2
5            897       3  14.0      0      0    9.2250       1     2
6            898       3  30.0      0      0    7.6292       0     3
7            899       2  26.0      1      1   29.0000       1     2
8            900       3  18.0      0      0    7.2292       0     1
9            901       3  21.0      2      0   24.1500       1     2
10           902       3  28.0      0      0    7.8958       1     2
11           903       1  46.0      0      0   26.0000       1     2
12           904       1  23.0      1      0   82.2667       0     2
13           905       2  63.0      1      0   26.0000       1     2
14           906       1  47.0      1      0   61.1750       0     2
15           907       2  24.0      1      0   27.7208       0     1
16           908       2  35.0      0      0   12.3500       1     3
17           909       3  21.0      0      0    7.2250       1     1
18           910       3  27.0      1      0    7.9250       0     2
19           911       3  45.0      0      0    7.2250       0     1
20           912       1  55.0      1      0   59.4000       1     1
21           913       3   9.0      0      1    3.1708       1     2
22           914       1  28.0      0      0   31.6833       0     2
23           915       1  21.0      0      1   61.3792       1     1
24           916       1  48.0      1      3  262.3750       0     1
25           917       3  50.0      1      0   14.5000       1     2
26           918       1  22.0      0      1   61.9792       0     1
27           919       3  22.5      0      0    7.2250       1     1
28           920       1  41.0      0      0   30.5000       1     2
29           921       3  28.0      2      0   21.6792       1     1
..           ...     ...   ...    ...    ...       ...     ...   ...
388         1280       3  21.0      0      0    7.7500       1     3
389         1281       3   6.0      3      1   21.0750       1     2
390         1282       1  23.0      0      0   93.5000       1     2
391         1283       1  51.0      0      1   39.4000       0     2
392         1284       3  13.0      0      2   20.2500       1     2
393         1285       2  47.0      0      0   10.5000       1     2
394         1286       3  29.0      3      1   22.0250       1     2
395         1287       1  18.0      1      0   60.0000       0     2
396         1288       3  24.0      0      0    7.2500       1     3
397         1289       1  48.0      1      1   79.2000       0     1
398         1290       3  22.0      0      0    7.7750       1     2
399         1291       3  31.0      0      0    7.7333       1     3
400         1292       1  30.0      0      0  164.8667       0     2
401         1293       2  38.0      1      0   21.0000       1     2
402         1294       1  22.0      0      1   59.4000       0     1
403         1295       1  17.0      0      0   47.1000       1     2
404         1296       1  43.0      1      0   27.7208       1     1
405         1297       2  20.0      0      0   13.8625       1     1
406         1298       2  23.0      1      0   10.5000       1     2
407         1299       1  50.0      1      1  211.5000       1     1
408         1300       3  28.0      0      0    7.7208       0     3
409         1301       3   3.0      1      1   13.7750       0     2
410         1302       3  28.0      0      0    7.7500       0     3
411         1303       1  37.0      1      0   90.0000       0     3
412         1304       3  28.0      0      0    7.7750       0     2
413         1305       3  28.0      0      0    8.0500       1     2
414         1306       1  39.0      0      0  108.9000       0     1
415         1307       3  38.5      0      0    7.2500       1     2
416         1308       3  28.0      0      0    8.0500       1     2
417         1309       3  28.0      1      1   22.3583       1     1

[418 rows x 8 columns]

In [36]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])

df_result.to_csv('submissions/submission1.csv', index=False)

In [38]:
df_result.shape

(418, 2)