In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('train.csv')

In [2]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [6]:
age_median = df['Age'].median()
df['Age'] = df['Age'].fillna(age_median)

In [7]:
from scipy.stats import mode

In [12]:
mode_embarked = mode(df['Embarked'].dropna())[0][0]
df['Embarked'] = df['Embarked'].fillna(mode_embarked)

C:\Users\darthjarjar\Anaconda3\lib\site-packages\scipy\stats\stats.py:250: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [14]:
df['Gender'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)
df['Port'] = df['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)

df = df.drop(['Sex', 'Embarked'], axis=1)

cols = df.columns.tolist()
cols = [cols[1]] + cols[:1] + cols[2:]
df = df[cols]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived       891 non-null int64
PassengerId    891 non-null int64
Pclass         891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Gender         891 non-null int32
Port           891 non-null int32
dtypes: float64(2), int32(2), int64(5)
memory usage: 55.8 KB

In [16]:
train_data = df.values

In [17]:
df_test = pd.read_csv('test.csv')

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [19]:
df_test = df_test.drop(['Name','Ticket','Cabin'],axis=1)

In [20]:
df_test['Age'] = df_test['Age'].fillna(age_median)

In [22]:
fare_means = df.pivot_table('Fare', index='Pclass', aggfunc='mean')

In [23]:
fare_means

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [24]:
df_test['Fare'] = df_test[['Fare', 'Pclass']].apply(lambda x: fare_means[x['Pclass']] if pd.isnull(x['Fare']) else x['Fare'], axis=1)

In [25]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)
model = model.fit(train_data[0:,2:],train_data[0:,0])

In [26]:
df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)
df_test['Port'] = df_test['Embarked'].map({'C':1, 'S':2, 'Q':3})

df_test = df_test.drop(['Sex', 'Embarked'], axis=1)

test_data = df_test.values

output = model.predict(test_data[:,1:])

In [27]:
df_test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  Gender  Port
0            892       3  34.5      0      0    7.8292       1     3
1            893       3  47.0      1      0    7.0000       0     2
2            894       2  62.0      0      0    9.6875       1     3
3            895       3  27.0      0      0    8.6625       1     2
4            896       3  22.0      1      1   12.2875       0     2
5            897       3  14.0      0      0    9.2250       1     2
6            898       3  30.0      0      0    7.6292       0     3
7            899       2  26.0      1      1   29.0000       1     2
8            900       3  18.0      0      0    7.2292       0     1
9            901       3  21.0      2      0   24.1500       1     2
10           902       3  28.0      0      0    7.8958       1     2
11           903       1  46.0      0      0   26.0000       1     2
12           904       1  23.0      1      0   82.2667       0     2
13           905       2  63.0      1      0   26.0000       1     2
14           906       1  47.0      1      0   61.1750       0     2
15           907       2  24.0      1      0   27.7208       0     1
16           908       2  35.0      0      0   12.3500       1     3
17           909       3  21.0      0      0    7.2250       1     1
18           910       3  27.0      1      0    7.9250       0     2
19           911       3  45.0      0      0    7.2250       0     1
20           912       1  55.0      1      0   59.4000       1     1
21           913       3   9.0      0      1    3.1708       1     2
22           914       1  28.0      0      0   31.6833       0     2
23           915       1  21.0      0      1   61.3792       1     1
24           916       1  48.0      1      3  262.3750       0     1
25           917       3  50.0      1      0   14.5000       1     2
26           918       1  22.0      0      1   61.9792       0     1
27           919       3  22.5      0      0    7.2250       1     1
28           920       1  41.0      0      0   30.5000       1     2
29           921       3  28.0      2      0   21.6792       1     1
..           ...     ...   ...    ...    ...       ...     ...   ...
388         1280       3  21.0      0      0    7.7500       1     3
389         1281       3   6.0      3      1   21.0750       1     2
390         1282       1  23.0      0      0   93.5000       1     2
391         1283       1  51.0      0      1   39.4000       0     2
392         1284       3  13.0      0      2   20.2500       1     2
393         1285       2  47.0      0      0   10.5000       1     2
394         1286       3  29.0      3      1   22.0250       1     2
395         1287       1  18.0      1      0   60.0000       0     2
396         1288       3  24.0      0      0    7.2500       1     3
397         1289       1  48.0      1      1   79.2000       0     1
398         1290       3  22.0      0      0    7.7750       1     2
399         1291       3  31.0      0      0    7.7333       1     3
400         1292       1  30.0      0      0  164.8667       0     2
401         1293       2  38.0      1      0   21.0000       1     2
402         1294       1  22.0      0      1   59.4000       0     1
403         1295       1  17.0      0      0   47.1000       1     2
404         1296       1  43.0      1      0   27.7208       1     1
405         1297       2  20.0      0      0   13.8625       1     1
406         1298       2  23.0      1      0   10.5000       1     2
407         1299       1  50.0      1      1  211.5000       1     1
408         1300       3  28.0      0      0    7.7208       0     3
409         1301       3   3.0      1      1   13.7750       0     2
410         1302       3  28.0      0      0    7.7500       0     3
411         1303       1  37.0      1      0   90.0000       0     3
412         1304       3  28.0      0      0    7.7750       0     2
413         1305       3  28.0      0      0    8.0500       1     2
414         1306       1  39.0      0      0  108.9000       0     1
415         1307       3  38.5      0      0    7.2500       1     2
416         1308       3  28.0      0      0    8.0500       1     2
417         1309       3  28.0      1      1   22.3583       1     1

[418 rows x 8 columns]

In [31]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]
df_result = pd.DataFrame(result[:,0:2], columns=['PassgengerId', 'Survived'])

df_result.to_csv('submissions/submission1.csv', index=False)

In [32]:
df_result.shape

(418, 2)

In [33]:
result

array([[ 892,    0],
       [ 893,    0],
       [ 894,    0],
       [ 895,    1],
       [ 896,    0],
       [ 897,    0],
       [ 898,    0],
       [ 899,    0],
       [ 900,    1],
       [ 901,    0],
       [ 902,    0],
       [ 903,    0],
       [ 904,    1],
       [ 905,    0],
       [ 906,    1],
       [ 907,    1],
       [ 908,    0],
       [ 909,    1],
       [ 910,    0],
       [ 911,    1],
       [ 912,    1],
       [ 913,    1],
       [ 914,    1],
       [ 915,    1],
       [ 916,    1],
       [ 917,    0],
       [ 918,    1],
       [ 919,    1],
       [ 920,    1],
       [ 921,    0],
       [ 922,    0],
       [ 923,    0],
       [ 924,    1],
       [ 925,    0],
       [ 926,    1],
       [ 927,    1],
       [ 928,    0],
       [ 929,    0],
       [ 930,    0],
       [ 931,    1],
       [ 932,    0],
       [ 933,    1],
       [ 934,    0],
       [ 935,    1],
       [ 936,    1],
       [ 937,    0],
       [ 938,    0],
       [ 939,    0],
       [ 940,    1],
       [ 941,    1],
       [ 942,    1],
       [ 943,    0],
       [ 944,    1],
       [ 945,    1],
       [ 946,    0],
       [ 947,    0],
       [ 948,    0],
       [ 949,    0],
       [ 950,    0],
       [ 951,    1],
       [ 952,    0],
       [ 953,    0],
       [ 954,    0],
       [ 955,    1],
       [ 956,    1],
       [ 957,    1],
       [ 958,    1],
       [ 959,    0],
       [ 960,    0],
       [ 961,    1],
       [ 962,    1],
       [ 963,    0],
       [ 964,    0],
       [ 965,    0],
       [ 966,    1],
       [ 967,    0],
       [ 968,    0],
       [ 969,    1],
       [ 970,    0],
       [ 971,    1],
       [ 972,    1],
       [ 973,    0],
       [ 974,    0],
       [ 975,    0],
       [ 976,    0],
       [ 977,    0],
       [ 978,    1],
       [ 979,    0],
       [ 980,    1],
       [ 981,    1],
       [ 982,    0],
       [ 983,    0],
       [ 984,    1],
       [ 985,    0],
       [ 986,    0],
       [ 987,    0],
       [ 988,    1],
       [ 989,    0],
       [ 990,    0],
       [ 991,    0],
       [ 992,    1],
       [ 993,    0],
       [ 994,    0],
       [ 995,    0],
       [ 996,    0],
       [ 997,    0],
       [ 998,    0],
       [ 999,    0],
       [1000,    0],
       [1001,    0],
       [1002,    0],
       [1003,    1],
       [1004,    1],
       [1005,    1],
       [1006,    1],
       [1007,    0],
       [1008,    0],
       [1009,    1],
       [1010,    0],
       [1011,    1],
       [1012,    1],
       [1013,    0],
       [1014,    1],
       [1015,    0],
       [1016,    0],
       [1017,    1],
       [1018,    0],
       [1019,    1],
       [1020,    0],
       [1021,    0],
       [1022,    1],
       [1023,    0],
       [1024,    0],
       [1025,    0],
       [1026,    0],
       [1027,    0],
       [1028,    0],
       [1029,    0],
       [1030,    0],
       [1031,    0],
       [1032,    0],
       [1033,    1],
       [1034,    0],
       [1035,    0],
       [1036,    1],
       [1037,    0],
       [1038,    0],
       [1039,    0],
       [1040,    1],
       [1041,    0],
       [1042,    1],
       [1043,    0],
       [1044,    0],
       [1045,    1],
       [1046,    0],
       [1047,    0],
       [1048,    1],
       [1049,    0],
       [1050,    1],
       [1051,    1],
       [1052,    1],
       [1053,    1],
       [1054,    1],
       [1055,    0],
       [1056,    0],
       [1057,    0],
       [1058,    0],
       [1059,    0],
       [1060,    1],
       [1061,    0],
       [1062,    0],
       [1063,    0],
       [1064,    0],
       [1065,    0],
       [1066,    0],
       [1067,    1],
       [1068,    1],
       [1069,    1],
       [1070,    1],
       [1071,    1],
       [1072,    0],
       [1073,    0],
       [1074,    1],
       [1075,    0],
       [1076,    1],
       [1077,    0],
       [1078,    1],
       [1079,    0],
       [1080,    0],
       [1081,    0],
       [1082,    0],
       [1083,    0],
       [1084,    1],
       [1085,    0],
       [1086,    1],
       [1087,    0],
       [1088,    1],
       [1089,    0],
       [1090,    0],
       [1091,    0],
       [1092,    1],
       [1093,    1],
       [1094,    0],
       [1095,    1],
       [1096,    0],
       [1097,    0],
       [1098,    0],
       [1099,    0],
       [1100,    1],
       [1101,    0],
       [1102,    0],
       [1103,    0],
       [1104,    0],
       [1105,    0],
       [1106,    1],
       [1107,    0],
       [1108,    1],
       [1109,    0],
       [1110,    1],
       [1111,    0],
       [1112,    1],
       [1113,    0],
       [1114,    1],
       [1115,    1],
       [1116,    1],
       [1117,    0],
       [1118,    0],
       [1119,    1],
       [1120,    0],
       [1121,    0],
       [1122,    0],
       [1123,    1],
       [1124,    0],
       [1125,    0],
       [1126,    1],
       [1127,    0],
       [1128,    1],
       [1129,    1],
       [1130,    1],
       [1131,    1],
       [1132,    1],
       [1133,    1],
       [1134,    0],
       [1135,    0],
       [1136,    0],
       [1137,    0],
       [1138,    1],
       [1139,    0],
       [1140,    1],
       [1141,    0],
       [1142,    1],
       [1143,    0],
       [1144,    0],
       [1145,    0],
       [1146,    0],
       [1147,    0],
       [1148,    0],
       [1149,    0],
       [1150,    1],
       [1151,    0],
       [1152,    0],
       [1153,    0],
       [1154,    1],
       [1155,    1],
       [1156,    0],
       [1157,    0],
       [1158,    0],
       [1159,    0],
       [1160,    0],
       [1161,    0],
       [1162,    0],
       [1163,    0],
       [1164,    1],
       [1165,    1],
       [1166,    0],
       [1167,    1],
       [1168,    0],
       [1169,    0],
       [1170,    0],
       [1171,    0],
       [1172,    0],
       [1173,    1],
       [1174,    1],
       [1175,    0],
       [1176,    1],
       [1177,    0],
       [1178,    0],
       [1179,    0],
       [1180,    0],
       [1181,    0],
       [1182,    0],
       [1183,    0],
       [1184,    0],
       [1185,    0],
       [1186,    0],
       [1187,    0],
       [1188,    1],
       [1189,    0],
       [1190,    0],
       [1191,    0],
       [1192,    0],
       [1193,    0],
       [1194,    0],
       [1195,    0],
       [1196,    1],
       [1197,    1],
       [1198,    1],
       [1199,    1],
       [1200,    0],
       [1201,    0],
       [1202,    0],
       [1203,    1],
       [1204,    0],
       [1205,    0],
       [1206,    1],
       [1207,    1],
       [1208,    0],
       [1209,    0],
       [1210,    0],
       [1211,    0],
       [1212,    0],
       [1213,    0],
       [1214,    0],
       [1215,    1],
       [1216,    1],
       [1217,    0],
       [1218,    1],
       [1219,    0],
       [1220,    0],
       [1221,    0],
       [1222,    1],
       [1223,    0],
       [1224,    0],
       [1225,    1],
       [1226,    0],
       [1227,    0],
       [1228,    1],
       [1229,    0],
       [1230,    0],
       [1231,    0],
       [1232,    0],
       [1233,    0],
       [1234,    0],
       [1235,    1],
       [1236,    0],
       [1237,    1],
       [1238,    0],
       [1239,    1],
       [1240,    0],
       [1241,    1],
       [1242,    1],
       [1243,    0],
       [1244,    0],
       [1245,    0],
       [1246,    1],
       [1247,    0],
       [1248,    1],
       [1249,    0],
       [1250,    0],
       [1251,    1],
       [1252,    0],
       [1253,    1],
       [1254,    1],
       [1255,    1],
       [1256,    1],
       [1257,    0],
       [1258,    0],
       [1259,    0],
       [1260,    1],
       [1261,    1],
       [1262,    0],
       [1263,    1],
       [1264,    0],
       [1265,    0],
       [1266,    1],
       [1267,    1],
       [1268,    0],
       [1269,    0],
       [1270,    0],
       [1271,    0],
       [1272,    0],
       [1273,    0],
       [1274,    1],
       [1275,    0],
       [1276,    0],
       [1277,    1],
       [1278,    0],
       [1279,    0],
       [1280,    0],
       [1281,    0],
       [1282,    0],
       [1283,    1],
       [1284,    0],
       [1285,    0],
       [1286,    0],
       [1287,    1],
       [1288,    0],
       [1289,    1],
       [1290,    0],
       [1291,    0],
       [1292,    1],
       [1293,    0],
       [1294,    1],
       [1295,    0],
       [1296,    0],
       [1297,    1],
       [1298,    0],
       [1299,    0],
       [1300,    1],
       [1301,    1],
       [1302,    1],
       [1303,    1],
       [1304,    0],
       [1305,    0],
       [1306,    1],
       [1307,    0],
       [1308,    0],
       [1309,    1]])

In [34]:
test_data

array([[  8.92000000e+02,   3.00000000e+00,   3.45000000e+01, ...,
          7.82920000e+00,   1.00000000e+00,   3.00000000e+00],
       [  8.93000000e+02,   3.00000000e+00,   4.70000000e+01, ...,
          7.00000000e+00,   0.00000000e+00,   2.00000000e+00],
       [  8.94000000e+02,   2.00000000e+00,   6.20000000e+01, ...,
          9.68750000e+00,   1.00000000e+00,   3.00000000e+00],
       ...,
       [  1.30700000e+03,   3.00000000e+00,   3.85000000e+01, ...,
          7.25000000e+00,   1.00000000e+00,   2.00000000e+00],
       [  1.30800000e+03,   3.00000000e+00,   2.80000000e+01, ...,
          8.05000000e+00,   1.00000000e+00,   2.00000000e+00],
       [  1.30900000e+03,   3.00000000e+00,   2.80000000e+01, ...,
          2.23583000e+01,   1.00000000e+00,   1.00000000e+00]])