In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv')

In [18]:
df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

age_median = df['Age'].median()
df['Age'] = df['Age'].fillna(age_median)

from scipy.stats import mode

mode_embarked = mode(df['Embarked'].dropna())[0][0]
df['Embarked'] = df['Embarked'].fillna(mode_embarked)

C:\Users\darthjarjar\Anaconda3\lib\site-packages\scipy\stats\stats.py:250: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [19]:
df['Gender'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [20]:
pd.get_dummies(df['Embarked'], prefix='Embarked').head(10)

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1
5           0           1           0
6           0           0           1
7           0           0           1
8           0           0           1
9           1           0           0

In [21]:
df = pd.concat([df, pd.get_dummies(df['Embarked'], prefix = 'Embarked')], axis=1)

In [22]:
df = pd.concat([df, pd.get_dummies(df['Sex'], prefix = 'Sex')], axis=1)

In [23]:
df = df.drop(['Sex', 'Embarked'], axis=1)

cols = df.columns.tolist()
cols = [cols[1]] + cols[:1] + cols[2:]
df = df[cols]

In [24]:
df.head(10)

,Survived,PassengerId,Pclass,Age,SibSp,Parch,Fare,Gender,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,0,1,3,22.0,1,0,7.2500,1,0,0,1,0,1
1,1,2,1,38.0,1,0,71.2833,0,1,0,0,1,0
2,1,3,3,26.0,0,0,7.9250,0,0,0,1,1,0
3,1,4,1,35.0,1,0,53.1000,0,0,0,1,1,0
4,0,5,3,35.0,0,0,8.0500,1,0,0,1,0,1
5,0,6,3,28.0,0,0,8.4583,1,0,1,0,0,1
6,0,7,1,54.0,0,0,51.8625,1,0,0,1,0,1
7,0,8,3,2.0,3,1,21.0750,1,0,0,1,0,1
8,1,9,3,27.0,0,2,11.1333,0,0,0,1,1,0
9,1,10,2,14.0,1,0,30.0708,0,1,0,0,1,0

In [25]:
df = df.drop(['Sex_female', 'Sex_male'], axis=1)

In [26]:
train_data = df.values

In [27]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)
model = model.fit(train_data[0:, 2:], train_data[0:,0])

In [28]:
df_test = pd.read_csv('test.csv')

df_test = df_test.drop(['Name', 'Ticket', 'Cabin'], axis=1)

df_test['Age'] = df_test['Age'].fillna(age_median)

fare_means = df.pivot_table('Fare', index = 'Pclass', aggfunc = 'mean')
df_test['Fare'] = df_test[['Fare', 'Pclass']].apply(lambda x: 
                            fare_means[x['Pclass']] if pd.isnull(x['Fare']) 
                            else x['Fare'], axis=1)

df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [29]:
df_test = pd.concat([df_test, pd.get_dummies(df_test['Embarked'], prefix='Embarked')], axis=1)

In [30]:
df_test = df_test.drop(['Sex', 'Embarked'], axis=1)

test_data = df_test.values

In [31]:
output = model.predict(test_data[:,1:])

In [32]:
result = np.c_[test_data[:,0].astype(int), output.astype(int)]

df_result = pd.DataFrame(result[:,0:2], columns = ['PassengerId', 'Survived'])
df_result.to_csv('submissions/submissionDummy.csv', index=False)